@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.playfair{
    font-family: "Playfair Display", serif;
}

.work{
    font-family: "Work Sans", sans-serif;
}


/* https://i.ibb.co/1J59Hrd/book4.jpg
https://i.ibb.co/PmqcQm2/book5.jpg
https://i.ibb.co/KVMMZM0/book6.jpg
https://i.ibb.co/w6hp0wJ/book7.jpg
https://i.ibb.co/HD91nFh/book8.jpg
https://i.ibb.co/KKvN3pc/book9.jpg
https://i.ibb.co/DCNV5V5/book10.jpg
https://i.ibb.co/QmLB2kh/book2.jpg
https://i.ibb.co/0V4dJQH/book3.jpg */